*.ini
video_aulas/Computação_Gráfica_Aula_02.webm
video_aulas/Computação_Gráfica_Aula_03.webm
video_aulas/Computação_Gráfica_Aula_04.webm
video_aulas/Computação_Gráfica_Aula_06.webm
video_aulas/Computação_Gráfica_Aula_07.webm
video_aulas/Computação_Gráfica_Aula_08.webm
video_aulas/Computação_Gráfica_Aula_09.mp4
video_aulas/Computação_Gráfica_Aula_09.webm
video_aulas/Computação_Gráfica_Aula_10.mp4
video_aulas/Computação_Gráfica_Aula_10.webm
video_aulas/Computação_Gráfica_Aula_14.webm
video_aulas/Computação_Gráfica_Aula_18.webm
video_aulas/Computação_Gráfica_Aula_13.webm
